<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/f7b26bdd81.js" crossorigin="anonymous"></script>
    <title>SloVerb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/script.js"></script>
</head>
<body class="bg-dark" id="body">
    <p id="link" class="hidden">{{name}}</p>
    <div class="row">
        <div class="col">
            <p class="logo">
                SloVerb
            </p>
        </div>
        <div class="col">
            <p class="light" id="flashlight">
                <!--svg goes here-->
                <i class="fas fa-lightbulb fa-2x light white-shadow" onclick="darkmode()"></i>
            </p>
            <p class="light hidden" id="noflashlight">
                <i class="fas fa-lightbulb fa-2x ylight yellow-shadow" onclick="darkmode()"></i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="font white white-shadow headline" id="headline">transform any song</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <input id="input" class="wb-shadow text-box" type="text" placeholder="paste youtube link..." value="{{ name }}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <label for="speed" class="font white white-shadow" id="speed">speed</label>
            <input type="range" class="slider " id="speed">
            <label for="reverb" class="font white white-shadow" id="roomSize">room size</label>
            <input type="range" class="slider " id="roomSize">
            <label for="reverb" class="font white white-shadow" id="wetness">wetness</label>
            <input type="range" class="slider " id="wetness">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <button onclick="" class="btn-lg submit pb-shadow">process</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="row footer">
            <div class="col-12 text-center">
                <p>
                    contact
                    |
                    privacy policy
                    |
                    terms of service
                    |
                    copyright
                </p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
